* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: Arial;
  background: white;
}

/* CLASS UTLITIES START/OVERRIDES */

.link {
  cursor: pointer;
}

.btn {
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  letter-spacing: 0.1rem;
  border: 1px solid black;
  transition: 0.4s ease-out;
}

h1 {
  font-size: 3rem;
}

.bold {
  font-weight: 800;
}

/* CLASS UTLITIES END/OVERRIDES */

.app {
  padding-bottom: 6rem; /* Space for navbar in mobile devices */
}

/* NAV SECTION START */

nav {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 1;
}

.nav__logo {
  flex: 1 0 90%;
  font-size: 1.5rem;
  padding: 1rem 0;
  padding-left: 1rem;
}

.nav__logo a {
  text-decoration: none;
  color: black;
}

.area__open,
.area__close {
  flex: 1 0 10%;
  text-align: center;
  font-size: 1.2rem;
}

.area__open--hide {
  display: none;
}

.area__close {
  display: none;
  padding: 1rem 0;
}

.area__close--show {
  display: block;
}

.nav__links {
  flex-basis: 100%;
  display: none;
  flex-flow: column;
  list-style: none;
  background: black;
}

.nav__links a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.nav__links a:hover {
  background: white;
  color: black;
}

.nav__links--show {
  display: flex;
}

/* NAV SECTION END */

/* HERO SECTION START */

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5.375rem); /* 5.375rem is the height of navbar  */
  border-bottom: 1px solid black;
}

.hero__main {
  text-align: center;
}

.hero__main h1 {
  max-width: 30rem;
  margin-bottom: 2rem;
}

.hero__img {
  display: none;
}

/* HERO SECTION END */

/* SUMMARY SECTION START */

.summary {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem 0;
}

.summary .card {
  flex: 1 0 15rem;
  display: flex;
  flex-flow: column;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__title {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.summary img {
  width: 100%;
}

/* SUMMARY SECTION END */

/* CONTACT SECTION START */

.contact {
  font-size: 1.5rem;
  padding: 3rem 1rem;
  display: flex;
  flex-flow: column;
}

.footer {
  text-align: center;
}
/* CONTACT SECTION END */

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .summary,
  .contact {
    padding: 3rem;
  }

  /* NAV DEKSTOP START */

  .nav__logo {
    flex-basis: 0;
    padding-left: 3rem;
  }

  .nav__links {
    display: flex;
    flex-flow: row;
    background: white;
    flex-basis: 0;
    padding-right: 3rem;
  }

  .nav__links a {
    color: rgba(0, 0, 0, 0.527);
    margin: 0 1rem;
  }

  .area__open,
  .area__close {
    display: none;
  }

  /* NAV DEKSTOP END */

  /* HERO DEKSTOP START */

  .hero {
    flex-flow: row wrap;
  }

  .hero__img {
    margin-left: 5rem;
    display: block;
    width: 30%;
  }

  /* HERO DEKSTOP END */

  /* SUMMARY DEKSTOP START */
  .summary img {
    height: 15rem;
    object-fit: cover;
  }
  /* SUMMARY DEKSTOP END */
}
